<header class="navbar sticky-top bg-white flex-md-nowrap py-2">
  <div class="ms-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasmenu">
      <button class="navbar-toggler" type="button" >
        <span class="navbar-toggler-icon"></span>
      </button>
  </div>
  <div class="offcanvas offcanvas-start " tabindex="-1" id="offcanvasmenu" data-bs-keyboard="false" data-bs-backdrop="true">
      <div class="offcanvas-header">
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          <!-- <h6 class="offcanvas-title  d-sm-block mx-auto" id="offcanvasmenu"><img src="assets/images/Swickard-Logo.png" class="img-fluid"></h6> -->
      </div>
      <div class="offcanvas-body px-0">
          <nav id="sidebar">
              <ul class="list-unstyled components">
                 <!-- <li><a href="" data-toggle="collapse" aria-expanded="false">DATA</a></li>
                 <li><a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">REPORTS </a>
                      <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">SALES</a>
                          <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li><a href="#">DAILY SALES</a></li>
                            <li><a href="#">INVENTORY PROJECTIONS</a></li>
                            <li><a href="#">F & I SUMMARY</a></li>
                            <li><a href="#">DEALS</a></li>
                          </ul>
                        </li>
                        <li>
                          <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false">Finance</a>
                          <ul class="collapse list-unstyled" id="pageSubmenu1">
                            <li><a href="#">DAILY SALES</a></li>
                            <li><a href="#">INVENTORY PROJECTIONS</a></li>
                            <li><a href="#">F & I SUMMARY</a></li>
                            <li><a href="#">DEALS</a></li>
                          </ul>
                        </li>
                      </ul>
                 </li> -->
                 <!-- <li><a href="" data-toggle="collapse" aria-expanded="false">EXCHANGE</a></li>
                 <li><a href="" data-toggle="collapse" aria-expanded="false">UCAR</a></li>
                 <li><a href="" data-toggle="collapse" aria-expanded="false">SERVICE MAX</a></li>
                 <li><a href="" data-toggle="collapse" aria-expanded="false">TOUCH</a></li> -->

                 <!-- <li> <a  data-toggle="collapse" (click)="navTopage('customerdata')">Dashboard <span><i class="fa fa-angle-right" ></i></span></a></li> -->
                 <!-- <li><a  data-toggle="collapse" (click)="navTopage('customerslist')">Customerslist <span><i class="fa fa-angle-right"></i></span></a></li> -->
                 <li><a  data-toggle="collapse" (click)="navTopage('customerslist')">Customers <span><i class="fa fa-angle-right" ></i></span></a></li>
                 <li><a  data-toggle="collapse" (click)="navTopage('roles')">Roles <span><i class="fa fa-angle-right" ></i></span></a></li>
                 <li><a  data-toggle="collapse" (click)="navTopage('jobtitle')">Job Title <span><i class="fa fa-angle-right"></i></span></a></li>
                 <li><a  data-toggle="collapse" (click)="navTopage('adminmodules')">Admin Modules <span><i class="fa fa-angle-right"></i></span></a></li>
                 <li><a  data-toggle="collapse" (click)="navTopage('sentmsg')">Text Messaging <span><i class="fa fa-angle-right"></i></span></a></li>
                 <li><a  data-toggle="collapse" (click)="navTopage('customersnew')">Customers New <span><i class="fa fa-angle-right"></i></span></a></li>


              </ul>
            </nav>
      </div>
    </div>
  <a [routerLink]="['/dashboard']" class="navbar-brand ms-lg-3" href="#"><img src="assets/images/Launch.png" class="img-fluid"></a>

  <!-- <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

    <div class="d-lg-flex justify-content-start align-items-center">
      <div class="heading d-lg-flex justify-content-start align-items-center">
         <h1> <span class="hdrname">XIOM</span> CUSTOMER INSIGHTS</h1>
         <div>

       </div>
         <img src="../../assets/images/analyze.png" alt="" style="margin-left: 1.5rem;">
         <img src="../../assets/images/filter.png" alt="" style="margin-left: 1rem;cursor: pointer;" width="20" height="20"  (click)="openModal()" >
        </div>
     </div>

     <div class="d-lg-flex justify-content-end ms-lg-auto me-lg-4">
      <div class="heading mt-lg-0 mt-3 d-flex justify-content-end align-items-center">
       <div class="icons me-auto pe-3">
         <!-- <img src="assets/images/Action.png" class="img-fluid" alt=""  > -->
         <!-- <a [routerLink]="['/messenger']"><img src="assets/images/Chat.png" class="img-fluid" alt="" ></a> -->
         <div (click)="Actions()"><img src="assets/images/Action.png" class="img-fluid" alt="" ></div>
         <img src="assets/images/Export.png" class="img-fluid" alt=""  >
         <img src="assets/images/print.png" class="img-fluid" alt="" title="Print" style="cursor: pointer;"  (click)="getPrint()">
         <img src="assets/images/settings.png" class="img-fluid" alt="" >
       </div>
      </div>
   </div>

   <div class=" d-flex align-items-center mx-auto mx-lg-0 pe-lg-5 py-2 py-lg-0">

    <div class="prof d-none d-lg-block">
      <div class="text">
        <div class="grt">Welcome,</div>
        <div class="name">{{UserName}} , <span>{{RoleName}}</span></div>
      </div>
    </div>
    <a [routerLink] ="['']"><img src="assets/images/aXyia-Logo.png" width="80px"></a>
</div>
</header>
