
 <div class="container" *ngIf="newdataadded">
    
  <nav class="navbar">
      <div class="container-fluid">
        <h4>short codes</h4>        
          
          <div class="d-flex">
            <button (click)="additem();" class="btn btn-info"><i class="fa fa-plus" aria-hidden="true"></i>
              </button>
          </div>
        
      </div>
      
    </nav>
    
    <div class="data-container" >
    <table class="table table-bordered" id="scrollBar">
      <thead>
          <tr>
              <th>codename</th>
              <th>name</th>
          </tr>
      </thead>
      
      
      <tbody>
          
          <tr *ngFor="let shorted of result">
            
              <td>{{shorted.SC_CODENAME}}</td>
              <td>{{shorted.SC_NAME}}</td>
               <td>
                 <button type="button" class="btn btn-success"data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="editdata(shorted)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                 </button>   
                 &nbsp;
               </td>
              </tr>           
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
  <div  *ngIf="newdata" >
      <div class="container">
      <div class="header" >
        <h6 class="title" id="staticBackdropLabel">SHORTED</h6>
      </div>
      <div class="body">
          <form [formGroup]="layform">
          
            <div class="form-group mt-3 col-lg-12 mx-auto">
              <input type="text" class="form-control"  formControlName="sc_codename" placeholder="codename" [ngClass]="{ 'is-invalid':submitted && su['sc_codename'].errors }">
              <div *ngIf="submitted && su['sc_codename'].errors" class="invalid-feedback">
                  <div *ngIf="submitted && su['sc_codename'].errors['required']">codename is required</div>
              </div>
          </div>

         <div class="form-group mt-3 col-lg-12 mx-auto">
              <input type="text" class="form-control" formControlName="sc_name" placeholder="name" [ngClass]="{ 'is-invalid':submitted && su['sc_name'].errors }">
              <div *ngIf="submitted && su['sc_name'].errors" class="invalid-feedback">
                  <div *ngIf="submitted && su['sc_name'].errors['required']">name is required</div>
              </div>
          </div>
          
    <div class="row pb-3" >

      <div class="col-6" *ngIf="hideall">

          <label style="margin: 4px;" for="SC_STATUS"  >
                      
          <input  [checked]="isstatus" type="checkbox"   (change)="status($event)"   name="SC_STATUS" formControlName="SC_STATUS">&nbsp;
         
          <label *ngIf="isactive"   style="color: green;" value="Y" (click)="change()" name="SC_STATUS" for="SC_STATUS">Active</label>

          <label *ngIf="isinactive" style="color: red;"  (click)="changed()"  for="SC_STATUS"  value="N" name="SC_STATUS">In-Active</label>
          
          </label>
  
      </div>

  </div>
  
         </form>
        
  </div>
      <div class="modal-footer">
        <button *ngIf="save" type="button" class="btn btn-primary" [disabled]="layform.invalid" (click)="adddata()">save</button>
        <button *ngIf="update" type="button" class="btn btn-primary" (click)="updated()">update</button>
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="backdata()">Close</button>


       </div>
    </div>  
  

