
.adm_bg {
    background: #e6e8ed;
    height: calc(100vh - 73px);
}
.ddlyear{
    padding: 5px 20px;
    border: 2px solid #eeeff1;
    border-radius: 50px;
    width: 100%;
    font-size: 1rem;
    color: black;
    font-family: "RobotoCondensed-Regular";
    width: 15rem;
    right: 6rem;
    position: absolute;
}
.data-dictionary {
    font-family: 'RobotoCondensed-Regular';
    .title {
        line-height: 1.5rem;
        h5 {
            font-size: 0.9rem;
            color: black;
            font-family: 'RobotoCondensed-Bold';
        }
        span,
        h6 {
            font-family: 'RobotoCondensed-Regular';
            color: black;
            font-size: 0.9rem;
        }
        .slash {
            color: #33b3f3;
            padding: 0px 5px;
        }
    }
    .data-tbl {
        background-color: #ffffff;
        // max-height: calc(90vh - 120px);
        overflow: auto;
        .table>:not(:first-child) {
            border: none !important;
        }
        table {
            text-align: center;
            margin: 0;
            background: #fff;
            thead {
                th:first-child {
                    text-align: start;
                    padding-left: 2rem;
                    border: none;
                }
                th:last-child {
                    padding-right: 2rem;
                }
                background: linear-gradient(to top, #0189ff 2px, #fff 10%);
                font-size: 0.9rem;
                color: black;
                font-family: 'RobotoCondensed-Bold';
                vertical-align: middle;
                line-height: 0.8rem;
                position: sticky;
                top: 0;
            }
            tbody {
                font-size: 0.9rem;
                color: black;
                font-family: 'RobotoCondensed-Regular';
                td {
                    border: none !important;
                }
                td:first-child {
                    text-align: start;
                    padding-left: 2rem;
                }
                td:last-child {
                    text-align: center;
                    padding-right: 2rem;
                }
                tr:nth-child(even) {
                    background-color: #f3f6fa;
                }
                tr:nth-child(odd) {
                    background-color: #ffffff;
                }
                a {
                    text-decoration: none;
                    color: #2196f3;
                }
            }
        }
    }
}

.scrnhet{
    height: 35rem;
}
@media (min-width:1600px) {
    .scrnhet{
        height: 50rem !important;
    }

    
}