@font-face {
  font-family: 'Gotham\ Book\ Regular';
  src: url('assets/fonts/Gotham\ Book\ Regular.otf') format('otf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('assets/fonts/Gotham\ Book\ Regular.otf') format('opentype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'GothamMedium';
  src: url('assets/fonts/GothamMedium.ttf') format('ttf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('assets/fonts/GothamMedium.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'Gotham\ Medium\ Regular';
  src: url('assets/fonts/Gotham\ Medium\ Regular.ttf') format('ttf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('assets/fonts/Gotham\ Medium\ Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'Gotham\ Bold';
  src: url('assets/fonts/Gotham\ Bold.otf') format('otf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('assets/fonts/Gotham\ Bold.otf') format('opentype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'Gotham-Light';
  src: url('assets/fonts/Gotham-Light.ttf') format('ttf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('assets/fonts/Gotham-Light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}


@font-face {
  font-family: 'Roboto-Regular';
  src: url('assets/fonts/Roboto-Regular.ttf') format('ttf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('assets/fonts/Roboto-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('assets/fonts/Roboto-Bold.ttf') format('ttf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('assets/fonts/Roboto-Bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('assets/fonts/Roboto-Medium.ttf') format('ttf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('assets/fonts/Roboto-Medium.ttf') format('truetype');  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url('assets/fonts/RobotoCondensed-Bold.ttf') format('ttf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('assets/fonts/RobotoCondensed-Bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'RobotoCondensed-Light';
  src: url('assets/fonts/RobotoCondensed-Light.ttf') format('ttf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('assets/fonts/RobotoCondensed-Light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'RobotoCondensed-Medium';
  src: url('assets/fonts/RobotoCondensed-Medium.ttf') format('ttf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('assets/fonts/RobotoCondensed-Medium.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url('assets/fonts/RobotoCondensed-Regular.ttf') format('ttf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('assets/fonts/RobotoCondensed-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}


// ACCELFI CSS

@font-face {
  font-family: 'FaktPro-Normal';
  src: url('assets/fonts/FaktPro-Normal.otf') format('otf'),
       url('assets/fonts/FaktPro-Normal.otf') format('opentype');
}
@font-face {
  font-family: 'FaktPro-Bold';
  src: url('assets/fonts/FaktPro-Bold.otf') format('otf'),
       url('assets/fonts/FaktPro-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'FaktPro-Light';
  src: url('assets/fonts/FaktPro-Light.otf') format('otf'),
       url('assets/fonts/FaktPro-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Fakt-Bold';
  src: url('assets/fonts/Fakt-Bold.ttf') format('ttf'),
       url('assets/fonts/Fakt-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('assets/fonts/Roboto-Regular.ttf') format('ttf'),
       url('assets/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('assets/fonts/Roboto-Bold.ttf') format('ttf'),
       url('assets/fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat\ Ultra\ Light';
  src: url('assets/fonts/Montserrat\ Ultra\ Light.otf') format('otf'),
       url('assets/fonts/Montserrat\ Ultra\ Light.otf') format('opentype');
}
@font-face {
  font-family: 'Montserrat\ SemiBold';
  src: url('assets/fonts/Montserrat\ SemiBold.ttf') format('ttf'),
       url('assets/fonts/Montserrat\ SemiBold.ttf') format('truetype');
}


body{padding: 0; margin: 0; border: 0;font-family: 'Gotham\ Book\ Regular'; color: #000; background: #eaebec; font-size: .7rem; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #aaa; /* or add it to the track */
}

::-webkit-scrollbar-thumb {
    background: #001124;
}


/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */

.sidebar {
  position: fixed;
  top: 0;
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  bottom: 0;
  left: 0;
  z-index: 100;
  margin: 60px 0 0;
}


.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 60px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}


#sidebar {background: #fff;color: #000;transition: all 0.3s;font-family: 'GothamMedium';}
#sidebar a,
#sidebar a:hover,
#sidebar a:focus {color: #000 !important;}
#sidebar.active {margin-left: -250px;}
#sidebar ul.components {padding: 20px 0;}
#sidebar a{border-bottom: 1px solid #eaedf1;}

#sidebar ul li a {padding: 10px 20px;font-size: .8rem;display: block;text-decoration: none;cursor: pointer;
color: #000;}
#sidebar ul ul li {background: #f7f9fa; font-size: .8rem; padding:0 1rem; }
#sidebar ul ul ul li {box-shadow: none !important;margin-left: 50px !important;font-size: .7rem;}
#sidebar ul li.active > a,
a[aria-expanded="true"] {
color: #000;
//background: #f7f9fa;
border: none!important;
font-family: 'Gotham\ Bold';
}

a[data-toggle="collapse"] {
position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
//content: "\f054";
font-family: 'FontAwesome';
display: block;
position: absolute;
right: 30px;
font-size: 0.6rem;
padding-top: 7px;
transform: rotate(270deg);
}

a[aria-expanded="true"]::before {
//content: '\f054';
transform: rotate(90deg);
padding-right: 0;
right: 25px;
}

ul li input{width: 100%; border-radius: 20px ; border: 1px solid #e8ecee; text-align: center; padding: .3rem; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type=number] {
-moz-appearance: textfield;
}
.high_clr{color: #1f8cf1; font-size: .7rem;}


.auto_w{width: 96%; margin: auto;}
.search{ width: 100%;
  input{height: 40px; background: #fff; border-radius:0 50px 50px 0; border: none; outline: none;
      font-size: .8rem; color: #000;

  }
  ::placeholder {
      color:#000;
  }
  ::-webkit-input-placeholder {
      color:#000;
  }

  ::-moz-placeholder {
      color:#000;
  }

  ::-ms-placeholder {
      color:#000;
  }
}
.btn_search{height: 40px;
  background:url(assets/images/search_icon.png) no-repeat center #fff  ;border-radius:50px 0 0 50px ; padding: 0 1.5rem !important;
}
button:focus,input:focus{ box-shadow: none !important;}

.modal {
  // display: flex;
  left: -25px;
  overflow: hidden;
}
